.spinner {
  display: inline;
  width: 80px;
  height: 80px;
  color: #fee3ec;
  font-size: 1.1rem;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fee3ec;
  border-color: #fee3ec transparent #fee3ec transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
